.navbar{
    position: fixed;        
    top: 100;
    left: 0;
    width: 100%;
    background-color: #222; 
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-bottom: 2px solid #444;
}
#welMessage {
    position: fixed;
    text-align: center;
    margin-top: 50px;
}
#formLogin{
    position: fixed;
    margin-top: 50px;
}
#buttonLogout{
    position: fixed;
    text-align: center;
    margin-top: 100px;
}
.hidden{
    display: none;
}
#game-container {
    position: relative;
    width: 100vw;
    height: 0;
    display: flex;
    align-items: center;
    background-color: #000; 
}